# Local
DATABASE_URL=data/nexotask.db
BETTER_AUTH_URL=http://localhost:3000

# Cambiar por una clave larga y privada
BETTER_AUTH_SECRET=

# En Vercel:
# BETTER_AUTH_URL=https://tu-proyecto.vercel.app
# DATABASE_URL se puede dejar vacia para demo temporal en /tmp/nexotask.db
